body {
    font-size: 1.2rem
}

#examination {
    margin: 0 auto;
    max-width: 600px;
}

.question-content {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 5px 0;
}

.choice-option label {
    display: block;
    cursor: pointer;
    transition: all 0.1s;
}

.choice-option label:hover {
    background-color: #e7e7e7
}

input[type="radio"] {
    margin-right: 10px
}

div.key-explain {
    display: none;
}

.btn-group {
    display: flex;
}

.action button, .renew, .new {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    transition: all 0.1s;
    border: 1px solid #cdcdcd
}

.action button:hover {
    background-color: #e3e3e3;
    color: #242424;
    border: 1px solid #8e8e8e
}

.renew, .new {
    /* margin: 5px 10px; */
}

.choice-option {
    display: flex;
    flex-direction: column;
}