:root {
    font-size: 20px;
}

#wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

.question .content {
    font-size: 25px;
    font-weight: bold;
}

label {
    margin: 0;
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 5px 0px;
    cursor: pointer;
    transition: background-color 100ms;
}

label:last-child {
    border-bottom: none;
}

label:hover {
    background-color: #ddd;
}

label input[type='radio'] {
    margin-right: 10px;
}

.question {padding: 10px 20px;border:  1px solid #ddd;border-radius: 10px;margin-bottom: 20px;}

.key {
    background: cadetblue;
    color: yellow;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.explain {
    color: blue;
}

button {
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 auto;
    opacity: 0.8;
    transition: all 100ms;
}

button:hover {
    background-color: unset;
    opacity: 1;
    color: black;
}

button.next-question {
    float: right;
}

button.redo-this-part, button.do-next-part, button.scroll-to-top {
    margin: unset;
    display: inline-block;
}

button.do-next-part {
    float: right;
}